:host {
  display: block;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 55px;
  width: 100%;
}

.toggles {
  display: flex;
  gap: 26px;
  justify-content: space-between;
  align-items: center;

  .font-style-select {
    position: relative;

    &::after {
      content: '';
      font-size: 12px;
      color: #333;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none;
      background: url("../../assets/images/icon-arrow-down.svg") no-repeat center;
      width: 13px;
      height: 9px;
    }

    select {
      width: 120px;
      height: 24px;
      border: none;
      font-size: 18px;
      font-weight: bold;
      color: var(--app-color-black-tertiary);
      appearance: none; /* Remove default styling */
      -webkit-appearance: none; /* Remove default styling for Safari */
      -moz-appearance: none; /* Remove default styling for Firefox */
      background-color: transparent;

      &:focus-visible {
        outline-color: var(--app-color-accent);
        outline-offset: 5px;
      }

      &::-ms-expand {
        display: none; /* Hide the default caret for IE */
      }
    }
  }

  .divider {
    width: 1px;
    height: 32px;
    background-color: var(--app-color-grey-medium);
  }
}

.theme-selector {
  position: relative;

  .btn-toggle {
    margin: 0 0;
    padding: 0;
    position: relative;
    border: none;
    height: 20px;
    width: 40px;
    border-radius: 1rem;
    transition: background-color 0.25s;
    cursor: pointer;

    &.active {
      background-color: var(--app-color-accent);

      .handle {
        left: 1.5rem;
        transition: left 0.25s;
      }
    }

    .handle {
      position: absolute;
      top: 50%;
      left: 0.125rem;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      border-radius: 0.75rem;
      background: #fff;
      transition: left 0.25s;
    }
  }

  .moon {
    content: '';
    font-size: 12px;
    color: #333;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    pointer-events: none;
    background: url("../../assets/images/icon-moon.svg") no-repeat center;
    width: 22px;
    height: 22px;

    &.dark-mode {
      svg path {
        stroke: #A445ED;
      }
    }
  }
}
