:host {
  position: relative;
  input {
    background-color: var(--app-color-grey-light);
    border-radius: 16px;
    border: 1px solid var(--app-color-grey-light);
    height: 64px;
    width: 100%;
    max-width: 736px;
    padding: 0 24px;
    font-size: 20px;
    font-weight: bold;
    color: var(--app-color-black-tertiary);
    margin: 0 auto;
    display: block;

    &::placeholder {
      opacity: .25;
    }

    &:focus {
      outline-color: var(--app-color-accent);
      outline-width: 1px;
    }
  }

  .search {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    display: inline-flex;
  }

  &.has-error {
    input {
      border-color: var(--app-color-error);
    }
  }
}

:host-context(body.dark-mode) {
  input {
    --app-color-grey-light: #2D2D2D;

    &::placeholder {
      opacity: .5;
      color: var(--app-color-white);
    }
  }
}
