.heading {
  color: var(--app-color-black-tertiary);
  font-size: 64px;
  line-height: 77px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.phonetic {
  color: var(--app-color-accent);
  font-size: 24px;
  font-family: 'inter', sans-serif;
  letter-spacing: 1px;
}

.part-of-speech-container {
  position: relative;
  margin-top: 40px;

  &::after {
    content: '';
    width: 85%;
    height: 1px;
    background-color: var(--app-color-grey-medium);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .part-of-speech {
    font-size: 24px;
    font-weight: bold;
  }
}

.meaning,
.synonyms-heading {
  margin-top: 40px;
  color: var(--app-color-grey-dark);
  font-size: 20px;
}

.meanings-list {
  padding-left: 35px;

  li {
    font-size: 18px;
    color: var(--app-color-black-tertiary);
    margin-top: 13px;
    list-style: none;
    position: relative;
    padding-left: 25px;

    &::before {
      content: '';
      width: 5px;
      height: 5px;
      background-color: var(--app-color-accent);
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .example {
    color: var(--app-color-grey-dark);
    margin-top: 13px;
    padding-left: 25px;
  }
}

.synonyms-heading {
  display: inline-block;
  margin-right: 22px;
}

.synonym {
  color: var(--app-color-accent);
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--app-color-grey-medium);
  margin: 40px 0;
}

.source {
  text-decoration: underline;
  font-size: 14px;
  color: var(--app-color-grey-dark);
  padding-bottom: 80px;

  a {
    margin-left: 20px;
    color: var(--app-color-black-tertiary);
    position: relative;

    &::after {
      content: '';
      width: 14px;
      height: 14px;
      background: url("../../assets/images/icon-new-window.svg") no-repeat center center;
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .emoji {
    font-size: 64px;
  }

  h3 {
    margin-top: 44px;
    font-size: 20px;
    font-weight: bold;
    color: var(--app-color-black-tertiary);
  }

  .error-message {
    font-size: 18px;
    margin-top: 24px;
    color: var(--app-color-grey-dark);
  }
}


